<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Olá Mundo!</title>
</h:head>
<h:body>
	<h1>
		<h:outputText value="Welcome to Menu" />
	</h1>
	<h:form>
		<h:link outcome="/users">
			<h:outputText value="Users of Systems" />
		</h:link>
		<br />
		<h:link outcome="/products">
			<h:outputText value="Products of Systems" />
		</h:link>
		<br />
		<h:link outcome="/sales">
			<h:outputText value="Sales of Systems" />
		</h:link>
	</h:form>
</h:body>
</html>