<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Add Product</title>
</h:head>
<h:body>
	<h1><h:outputText value="Add new product to system" /></h1>
	<h:form>
		Name : <h:inputText value="#{productBean.selectedProduct.name}" /><br />
		Price : <h:inputText value="#{productBean.selectedProduct.price}" /><br />
		Stock : <h:inputText value="#{productBean.selectedProduct.stock}" /><br />
		User : <h:selectOneMenu value="#{productBean.selectedProduct.user}" converter="userConverter">
			<f:selectItems value="#{productBean.usersOfSystem}" />
		</h:selectOneMenu><br />
		<h:commandButton action="/products" value="Cancel" />
		<h:commandButton action="#{productBean.finishAddNewProduct}" value="add" />
	</h:form>
</h:body>
</html>