<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Add Sale</title>
</h:head>
<h:body>
	<h1><h:outputText value="Add new sale to system" /></h1>
	<h:form>
		Product : <h:selectOneMenu value="#{saleBean.selectedSale.product}" converter="productConverter">
			<f:selectItems value="#{saleBean.productsOfSystem}" />
		</h:selectOneMenu><br />
		User : <h:selectOneMenu value="#{saleBean.selectedSale.user}" converter="userConverter">
			<f:selectItems value="#{saleBean.usersOfSystem}" />
		</h:selectOneMenu><br />
		Amount : <h:inputText value="#{saleBean.selectedSale.amount}" /><br />
		<h:commandButton action="/sales" value="Cancel" />
		<h:commandButton action="#{saleBean.finishAddSale}" value="add" />
	</h:form>
</h:body>
</html>