<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Add User</title>
</h:head>
<h:body>
	<h1><h:outputText value="Add new user to system" /></h1>
	<h:form>
		Name : <h:inputText value="#{userBean.selectedUser.name}" /><br />
		Login : <h:inputText value="#{userBean.selectedUser.login}" /><br />
		Password : <h:inputSecret value="#{userBean.selectedUser.password}" /><br />
		<h:commandButton action="/users" value="Cancel" />
		<h:commandButton action="#{userBean.finishAddUser}" value="add" />
	</h:form>
</h:body>
</html>