<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Products</title>
</h:head>
<h:body>
	<h1>
		<h:outputText value="Products" />
	</h1>
	<h:form>
		<h:dataTable border="1" var="product" value="#{productBean.cachedProducts}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Id" />
				</f:facet>
				<h:outputText value="${product.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{product.name}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Price" />
				</f:facet>
				<h:outputText value="#{product.price}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Stock" />
				</f:facet>
				<h:outputText value="#{product.stock}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="User" />
				</f:facet>
				<h:outputText value="#{product.user.name}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Actions" />
				</f:facet>
				<h:commandLink action="#{productBean.doUpdateProduct}" value="Update">
					<f:setPropertyActionListener value="#{product}" target="#{productBean.selectedProduct}" />
				</h:commandLink>
				<h:outputText value=" - " />
				<h:commandLink action="#{productBean.doRemoveProduct}" value="Remove">
					<f:setPropertyActionListener value="#{product}" target="#{productBean.selectedProduct}" />
				</h:commandLink>
			</h:column>
		</h:dataTable>
		<h:commandButton action="#{productBean.doAddProduct}" value="Add new product" />
		<h:commandButton action="index.xhtml" value="Home" />
	</h:form>
</h:body>
</html>