<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Sales</title>
</h:head>
<h:body>
	<h1>
		<h:outputText value="Sales" />
	</h1>
	<h:form>
		<h:dataTable border="1" var="sale" value="#{saleBean.cachedSales}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Id" />
				</f:facet>
				<h:outputText value="${sale.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Product" />
				</f:facet>
				<h:outputText value="#{sale.product.name}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="User" />
				</f:facet>
				<h:outputText value="#{sale.user.name}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Amount" />
				</f:facet>
				<h:outputText value="#{sale.amount}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Date" />
				</f:facet>
				<h:outputText value="#{sale.date_of_sale}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Total" />
				</f:facet>
				<h:outputText value="#{sale.calculateTotalOfSale()}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Actions" />
				</f:facet>
				<h:commandLink action="#{saleBean.removeSale}" value="Remove">
					<f:setPropertyActionListener value="#{sale}" target="#{saleBean.selectedSale}" />
				</h:commandLink>
			</h:column>
		</h:dataTable>
		<h:commandButton action="#{saleBean.addSale}" value="Add new Sale" />
		<h:commandButton action="index.xhtml" value="Home" />
	</h:form>
</h:body>
</html>