<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Users</title>
</h:head>
<h:body>
	<h1>
		<h:outputText value="Users" />
	</h1>
	<h:form>
		<h:dataTable border="1" var="user" value="#{userBean.cachedUsers}">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Id" />
				</f:facet>
				<h:outputText value="${user.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{user.name}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Actions" />
				</f:facet>
				<h:commandLink action="#{userBean.removeUser}" value="Remove">
					<f:setPropertyActionListener value="#{user}" target="#{userBean.selectedUser}" />
				</h:commandLink>
			</h:column>
		</h:dataTable>
		<h:commandButton action="#{userBean.doAddUser}" value="Add new user" />
		<h:commandButton action="index.xhtml" value="Home" />
	</h:form>
</h:body>
</html>